.WhyCards {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 89%;
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}

.LeftCard, .RightCard, .BigCard {
    margin-top: 120px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    text-align: center;
}

.LeftCard, .RightCard {
    max-width: 500px;
    min-width: 500px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.RightCard {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.BigCard {
    height: 70vh;
    font-size: 34px;
    padding: 9rem;
    border-radius: 20px;
}

.LeftCard, .RightCard p {
    font-size: 30px;
}

.LeftCard, .RightCard h3 {
    font-size: 30px;
}


.LeftCard h3, .RightCard h3, .BigCard h3 {
    margin-bottom: 1rem;
}

/* Media query para laptops */
@media (max-width: 1440px) {
    .LeftCard, .RightCard {
        max-width: 400px;
        min-width: 400px;
    }

    .BigCard {
        height: 60vh;
        font-size: 25px;
        padding: 7rem;
    }

    .LeftCard, .RightCard p,
    .LeftCard, .RightCard h3,
    .BigCard h3 {
        font-size: 26px;
    }

    .WhyCards {
        padding: 1.5rem;
    }
}
